html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

form {
  margin: 10px;
}
body .shell {
  position: absolute;
  top: 18pt;
  left: 10px;
  width: 80%;
  height: 520px;
}
body .shell .terminal {
  height: calc(100% - 40px);
  padding: 10px;
  /*
   * padding bottom 0 on terminal and margin
   * on .cmd will be in version 2.0.1
   * that fixes FireFox issue
   */
  padding-bottom: 0;
}
body .shell .terminal .cmd {
  margin-bottom: 10px;
}
.shell .typed-cursor, .shell .cursor {
  background: transparent;
}
.shell > .status-bar .title {
  cursor: default;
}
/*
* fix to shell.js to center title to free space
*/
.shell.windows .status-bar .title {
  right: 106px;
}
@supports (--css: variables) {
  .shell .terminal {
      --color: #aaa;
  }
  .shell.ubuntu .terminal {
      --background: #300924;
  }
  .shell.osx .content.terminal {
      --background: #222;
  }
  .shell.light .content.terminal {
      --background: white;
      --color: black;
  }
  /*
  * windows and custom are the last ones so
  * they don't get overwritten by light
  */
  .shell.windows .content.terminal {
      --background: black;
      --color: white;
      --animation: terminal-underline;
  }   
  .shell.custom .content.terminal {
      --background: #292929;
      --color: #aaa;
  }
}
/*
* overwrite shell.js style because shell.js   
* selectors are stronger then terminal ones
*/
.cmd span.cursor {
  animation: none;
  width: auto;
  background-color: var(--background, #000);
}
.shell .terminal.content,
.shell.osx.dark .content,
.shell.ubuntu .content {
  background-color: var(--background, #222) !important;
}
.shell .terminal.content {
  font-size: 12px;
}
.cmd {
  background-color: inherit;
}
@supports (--css: variables) {
  .shell .terminal.content {
      font-size: calc(var(--size, 1) * 12px);
  }
}
/* fix for Firefox */
.terminal::-webkit-scrollbar-track
{
border: 1px solid var(--color, #aaa);
background-color: var(--background);
}
.terminal::-webkit-scrollbar
{
width: 10px;
background-color: var(--background);
}
.terminal::-webkit-scrollbar-thumb
{
background-color: var(--color, #aaa);
}
.terminal {
  --size: 1.25;
}
